{% extends 'layout.html' %}

{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
    <title>{% block title %} DIGITAL MARKET {% endblock %}</title>

</head>
<body>
    {% block balance %}
    <span style="color: white;">Баланс: {{ profile.balance }}</span>
    {% endblock %}

    {% block img %}

    {% if profile.profile_picture %}
    <img src="{{ profile.profile_picture.url }}" class="img-fluid rounded-circle" style="width: 50px; height: auto;">
    {% else %}
    <img src="https://i.pinimg.com/originals/f4/1c/aa/f41caad9981cc88b4016984c83b3c6a1.png" class="img-fluid rounded-circle" style="width: 50px; height: auto;">
    {% endif %}
    {% endblock %}

    {% block content %}
    <h1>Витрина товаров</h1>
        <div class="product-grid">
            {% for device in devices %}
                <div class="product-card">
                    {% if device.image %}
                    <img src="{{ device.image.url }}" alt="{{ device.name }}" class="product-image">
                    {% else %}
                    <p>Нет изображения</p>
                    {% endif %}
                    <a href="{% url 'device_detail' device.id %}"><h3>{{ device.name }}</h3></a>
                    <p><strong>Цена:</strong> {{ device.price }} руб.</p>
                    <div class="text-right">
                        {% if user.is_authenticated %}
                        <a href="{% url 'add_to_cart' device.id %}?next={{ request.path }}">
                            <button class="btn btn-success btn-cart">
                                <i class="bi bi-cart-plus"></i>
                            </button>
                        </a>
                        {% endif %}
                    </div>
                </div>
            {% empty %}
                <p class="empty-list">На данный момент нет доступных устройств.</p>
            {% endfor %}
        </div>
    {% endblock %}
</body>
</html>